
@{
    ViewBag.Title = "Notiser";
}

<h2>Notiser</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mötesnamn</th>
                <th>Beskrivning</th>
                <th>Börjar</th>
                <th>Slutar</th>
                <th>Kan du delta?</th>
            </tr>
        </thead>
        <tbody id="events">

        </tbody>
    </table>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var table = $('#events');
            var events = [];
            $.ajax({
                type: "GET",
                url: "/Home/GetEventNotifications",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        console.log(moment(data[i].TimeSuggestions[0].StartTime).format('MMM Do YYYY HH:mm'));
                        table.append(
                            '<tr>' +
                            '<td>' + data[i].Title + '</td>' +
                            '<td>' + data[i].Description + '</td>' +
                            '<td>' + moment(data[i].TimeSuggestions[0].StartTime).format('MMM Do YYYY HH:mm') + '</td>' +
                            '<td>' + moment(data[i].TimeSuggestions[0].EndTime).format('MMM Do YYYY HH:mm') + '</td>' +
                            '<td><button value="Yes" class="acceptBtn btn btn-primary" id="acceptEvent">Ja</button>' +
                            '<button value="No" class="declineBtn btn btn-danger" id="declineEvent" style="margin-left: 5px;">Nej</button></td>' +
                            '</tr>'
                        );
                        console.log(data[i].Title);
                    }
                },
                error: function (error) {
                    alert('failed');
                }
            })
        });
    </script>

}

