
@{
    ViewBag.Title = "WaitForVerification";
}

<h2>Välkommen @User.Identity.Name</h2>
<h4>Ditt konto är inte aktiverat. Så snart en administratör har aktiverat ditt konto kan du använda alla funktioner.</h4>