body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select {
    max-width: 280px;
}

input,
textarea {
    max-width: 1200px;
}

#formalblogH2, #formalblogH4{
    padding-left : 42%;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }

#calendar {
    float: right;
    width: 900px;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.disabledButton {
    opacity: 0.65;
    cursor: not-allowed;
}